@model IEnumerable<MVC5Course.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm()) {
    for (int i = 0; i < 5; i++)
    {
        <input type="checkbox" name="ProductId" value="@i" />
        <span>
            確認 @i
        </span>
    }
    <input type="submit"/>
}


@using (Html.BeginForm())
{
    <p class="text-right">
        @Html.TextBox("search", "", new { @class = "btn btn-default", placeholder = "請輸入名稱" })
        <input type="submit" class="btn btn-success" value="搜尋" />
    </p>
}
<div id="details">

    @using (Html.BeginForm())
    {
        <table class="table">
            <tr>
                <td>
                    <input type="submit" class="btn btn-success" value="批次更新" />
                </td>
            </tr>
            <tr>
                <th>
                    @Html.Label("批次刪除")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stock)
                </th>
                <th></th>
            </tr>

            @*<tr>
                    <td></td>
                    <td>
                        <a href="@Url.Action("BatchUpdate")" class="btn btn-default">更新價錢</a>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>*@
            @{
        var data = Model.ToArray();
            }

            @for (int i = 0; i < data.Length; i++)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="ProductId" value="@data[i].ProductId" />
                        @*@Html.CheckBox("ProductId", htmlAttributes: new { value = data[i].ProductId })*@
                    </td>
                    <td>
                        @Html.HiddenFor(modelItem => data[i].ProductId)
                        @Html.EditorFor(modelItem => data[i].ProductName)
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => data[i].Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => data[i].Active)
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => data[i].Stock)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = data[i].ProductId }) |
                        @Html.ActionLink("Details", "Details", new { id = data[i].ProductId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = data[i].ProductId })
                    </td>
                </tr>
            }

        </table>

    }

</div>
